/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: rgb(108, 99, 255);
  --buttonHover: rgba(108, 99, 255, 0.7);

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;

  --lato: 'Lato', sans-serif;
  --merriweather: 'Merriweather', serif;

  --max-width: 80%;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== Header ====== */
.header {
  background: var(--bgSite);
}

.main_header {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4.375rem 6.25px;
}

.header_text {
  width: 390px;
}

.header_text h2 {
  font-family: var(--merriweather);
  font-size: 2.25rem;
  line-height: 2.937rem;
  color: var(--title);
}

.header_text p {
  font-family: var(--lato);
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--text);

  margin: 17px 0 45px 0;
}

.main_header button {
  width: 155px;
  height: 50px;

  font-family: var(--lato);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;

  background: var(--buttonColor);
  color: var(--white);

  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;

  border: none;
}

/* ====== Cards ====== */
.qualidade {
  max-width: var(--max-width);
  margin: 150px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qualidade-item {
  flex: 1 1 calc(33.33% - 20px);
  margin: 20px 10px;

  height: 423px;
  width: 340px;

  background: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.qualidade-title,
.qualidade-description {
  padding: 1.5rem;
}

.qualidade-item h2 {
  font-family: var(--merriweather);
  color: var(--title);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.88rem;
}

.qualidade-item p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--text);
}

.red {
  height: 210px;
  background: #ff6363;
}

.light-blue {
  height: 210px;
  background: #63ecff;
}

.purple {
  height: 210px;
  background: #f363ff;
}

.green {
  height: 210px;
  background: #63ff73;
}

.yellow {
  height: 210px;
  background: #ffdd63;
}

.blue {
  height: 210px;
  background: #6663ff;
}

.block {
  margin-left: 0;
}

/* Footer */
footer {
  background: var(--bgSite);
}

.footer_container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer h2 {
  font-family: var(--merriweather);
  font-size: 2rem;
  line-height: 2.513rem;
  margin: 6.25rem 0;
}

input {
  width: 29.375rem;
  height: 4.062rem;

  margin-bottom: 15px;
  padding-left: 10px;

  background: #ffffff;
  border-radius: 6px;

  border: none;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--lato);
  font-size: 1.125rem;
  line-height: 1.35rem;
  /*padding-left: 1rem;*/
}

textarea {
  width: 29.375rem;
  height: 10.312rem;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  padding: 0.625rem;
}

input,
textarea:focus {
  outline: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  font-family: var(--lato);
  width: 471px;
  height: 50px;

  background: var(--buttonColor);
  color: var(--white);

  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  border: none;

  margin: 30px 0 80px 0;
}

button:hover {
  background: var(--buttonHover);
}

/* Media queries */

@media screen and (max-width: 1120px) {
  .header_img img {
    /*margin-top: 5rem;*/
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header_img img {
    margin-top: 5rem;
    width: 100%;
  }

  .qualidade {
    margin: 4rem auto;
  }

  footer h2 {
    margin: 4rem 0;
  }

  input,
  textarea,
  .form button {
    width: 20rem;
    height: 4.062rem;
  }
}
